.tab-content a {
    opacity: 0.8;
    background-color: gray;
    color: white;
}

.tab-content a:hover {
    opacity: 1;
}

.tab-content .nav-item.nav-link.active {
    background-color: rgb(71, 175, 179);
    opacity: 1 !important;
    color: white;
}

.tab-content .nav-item.nav-link.active:hover {
    background-color: rgb(52, 201, 206);
}

.delete-button-style {
    margin-top: 10px;
}

@media screen and (max-width: 800px) {

    .nav.nav-tabs {
        align-items: center;
        justify-content: center;
        border-bottom: none;
        margin-bottom: 15px;
    }

    .tab-content a {
        margin: 3px;
    }

    .tab-content {
        width: 100%;
    }

    .delete-button-style {
        margin: 0 0 10px 30px;
    }
}