@media screen and (max-width: 800px) {

    .modal-dialog {
        width: 95% !important;
        margin-top: 40% !important;
    }

    .fade.modal-backdrop.show {
        width: 100%;
        height: 100%;
    }

    .modal-content {
        width: 98% !important;
    }

}