

.add-daily-kamas-form-style h3 {
    margin-bottom: 5px;
    text-align : center;
}

.form-parent-div {
    overflow: hidden;
    float: right;
    width: 25%;
}


.add-daily-kamas-form-style {
    float: left !important;
    width: 100% !important;
    height: 400px;
    position: relative;
    background-color: rgb(114, 165, 167);
    border-radius: 2% 0 0 2%;
    vertical-align: middle;
    margin: 0 1% 1% 0% !important;
    padding: 2%;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.add-daily-kamas-form-style form .button-container {
    margin-top: 45px;
    display: flex !important;
    justify-content: center !important;
}

.add-daily-kamas-form-style form .button-container button {
    width: 40%;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label {
    color: chartreuse !important;
}

.daily-kamas-style {
    margin-top: 20px;
    display: flex;
}

@media screen and (max-width: 800px) {

    .daily-kamas-style {
        margin-top: 0;
        display: block;
    }
    
    .form-parent-div {
        float: none;
        width: auto;
    }

    .add-daily-kamas-form-style {
        width: 91% !important;
        height: fit-content;
        margin: 1% 1% 1% 0% !important;
        margin-left: 6% !important;
    }
}