.input-group-prepend {
    width: 40px;
    height: 38px;
}

.input-group-prepend svg {
    height: 100%;
    width: 100% !important;
    padding: 8px;
    align-items: center;
    margin-bottom: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.href-button-style {
    color: blue !important;
    text-align: center !important;
    width: 100%;
    text-decoration: underline !important;
}

.no-margin {
    margin-bottom: 0 !important;
}