.pagination a {
    margin: 1px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
    opacity: 1;
}

.pagination {
    margin: none;
}

.daily-kamas-table {
    margin-bottom: 0 !important;
    height: 300px;
}

.daily-kamas-table-div {
    height: 400px; 
    width: 420px; 
    background-color: rgb(114, 165, 167);
    border-radius: 2%;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

.daily-kamas-sub-div {
    height: 350px; 
    width: 420px; 
    background-color: rgb(114, 165, 167);
}

@media screen and (max-width: 800px) {

    .daily-kamas-table-div {
        width: 91% !important;
        margin-left: 6% !important;
    }
    
    .daily-kamas-sub-div {
        width: 100% !important;
    }
}